$base-padding: 24px;

/*** base colors ***/
$white: #ffffff;
$lightestGrey2: #e1e1e1;
$lightestGrey: #b6b6b6;
$darkWhite: #d8d8d8;
$greyText: #a9a9a9;
$primary: #d58e32;
$lightGrey: #434343;
$mediumGray: #363636;
$darkGray: #2a2a2a;
$darkestGrey: #292929;

/* DON'T USE BASE COLORS (ABOVE) IN COMPONENTS */
/* USE VARIABLES FROM THE BOTTOM IN COMPONENTS*/

/* header colors */
$header-topbar-bg: $lightGrey;
$header-topbar-txt: $white;

$header-bg: $mediumGray;
$header-txt: $darkWhite;
/* header colors end*/

/* menubar colors */
$menubar-bg: $white;
/* menubar colors end */

/* feature section colors */
$feature-box-border: $lightestGrey;
$feature-icon-wrapper: $white;
/* feature section colors end */

/* new products section colors */
$product-bg: $white;
$product-border-color: $lightestGrey2;
$product-sale-bg: $darkestGrey;
$product-sale-txt: $white;
$product-bottom-border: $darkestGrey; 
$product-stars: $darkGray;
/* new products section colors end */

/* hover colors */
$hover-bg-primary: $primary;
$hover-txt-primary: $primary;
$hover-txt-light: $white;
$hover-bg-dark: $darkGray;
/* hover colors end */
$text-color: $darkGray;
$form-border-color: $darkestGrey;

/* footer colors */
$footer-bg: $mediumGray;
$footer-title-txt: $white;
$footer-txt: $greyText;
$footer-claim-bg: $darkGray;
$footer-claim-txt: $greyText
/* footer colors end */
